:root {
    --background-color: #1F2937;
    --textcolor-dark: black;
    --textcolor-light: white;
    --button-background: #0cf;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {

    margin: 0;
    /* overflow: hidden; */
    /* background-color: var(--background-color); */
}

header {
    padding: 20px 275px 20px 275px;
    display: flex;
    background-color: var(--background-color);
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    color: var(--textcolor-light);
    position: relative;
}

header #dentalLogo {
    width: 35px;
    height: 35px;
    position: relative;
    top: -5px;
    left: -3px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 27px;
}

.nav-link {
    color: var(--textcolor-light);
}

#hero {
    background-color: var(--background-color);
    width: 100%;
}

#heroText {
    padding: 100px;
}

#heroImg {
    border-radius: 10px;
    width: 35vw;
}

#btn,
#btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100px;
    transition: all .2s;
}

#btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#btn-white {
    background-color: #fff;
    color: #777;
}

#btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

#btn-white::after {
    background-color: #fff;
}

#btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

#btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.testimonials-clean {
    color: #313437;
    background-color: #eef4f7;
}

.testimonials-clean p {
    color: #7d8285;
}

.testimonials-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

.testimonials-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.testimonials-clean .intro p {
    margin-bottom: 0;
}

.testimonials-clean .people {
    padding: 50px 0 20px;
}

.testimonials-clean .item {
    margin-bottom: 32px;
}

.testimonials-clean .item .box {
    padding: 30px;
    background-color: #fff;
    position: relative;
}

.testimonials-clean .item .box:after {
    content: '';
    position: absolute;
    left: 30px;
    bottom: -24px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-width: 12px 15px;
    border-top-color: #fff;
}

.testimonials-clean .item .author {
    margin-top: 28px;
    padding-left: 25px;
}

.testimonials-clean .item .name {
    font-weight: bold;
    margin-bottom: 2px;
    color: inherit;
}

.testimonials-clean .item .title {
    font-size: 13px;
    color: #9da9ae;
}

.testimonials-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
}

.testimonials-clean .item img {
    max-width: 40px;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

.quote {
    text-align: center;
    font-size: 30px;
    padding: 60px;
    font-weight: 800;
}

.footer-07 {
    background-color: var(--background-color);
    color: var(--textcolor-light);
    padding: 20px;
}

a {
    color: var(--textcolor-light);
}

a:link {
    text-decoration: none;
}

@media (min-width:768px) {
    .testimonials-clean .item {
        height: 220px;
    }
}

@media (max-width:767px) {
    .testimonials-clean h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
}

@media screen and (max-width: 1216px) {
    header {
        justify-content: center;
        padding: 30px 300px;
    }
}

@media screen and (max-width: 990px) {
    header {
        justify-content: center;
        padding: 30px;
        display: flex;
        margin-left: auto;
        margin-right: auto;

    }

    nav {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #heroImg {
        display: block;
        margin-left: 100px;
        margin-right: auto;
        width: 50vw;
    }
}

@media screen and (max-width: 459px) {
    #navBar {
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        padding: 25px;
        margin: 10px;
    }
}